/* hex */
/* orange soda: #f55d3e
gray: #878e88
yellow: #f7cb15
white: #ffffff
dark sky blue: #76bed0

/* RGB */
/* orange soda: rgba(245, 93, 62, 1); */
/* mummy's tomb: rgba(135, 142, 136, 1); */
/* yellow: rgba(247, 203, 21, 1); */
/* white: rgba(255, 255, 255, 1); */
/* dark sky blue: rgba(118, 190, 208, 1); */ 

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:900&display=swap');
@media only screen and (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 850px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
body, main {
  font-family: 'Lato', sans-serif;
}
img {
  max-width: 120px;
  max-height: 120px;
  margin: 5px;
  border-radius: 10px;
  display: inline;
}
#show-article-modal img{
  max-width: 250px;
  max-height: 250px;
}
button {
  font-size: 10pt;
  color: #fff;
  background-color: #76bed0;
  border-radius: 5px;
  display: inline;
  margin: 5px;
  padding: 2px 12px;
}
.highlight-button {
  background-color: #f55d3e;
}
form input {
  padding: 3px;
  margin: 5px 0px;
}

.form-submit-button, #back-to-login {
  font-size: 10pt;
  color: #fff;
  background-color: #878e88;
  border-radius: 5px;
  margin: 5px 0px;
  min-width: 100px;
}
#back-to-login {
  background-color: #f55d3e;
}
h1 {
  font-family: 'Raleway', sans-serif;
  color: #76bed0;
  margin-right: 15px;
}
header h1 {
  font-family: 'Raleway', sans-serif;
  margin: 15px 15px 0px 10px;
}
header {
  display: flex;
  align-items: baseline;
  background: #fff;
  border-bottom: #878e88 2px solid;
  margin: 0;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-end;
}
.subtitle {
  font-size: 8pt;
  margin-left: 0px;
  margin-bottom: 10px;
}
header .subtitle {
  font-size: 8pt;
  margin-left: 10px;
  margin-bottom: 10px;
}
#add-article-div .subtitle {
  text-align: center
}
#user-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #f7cb15;
}
#user-name {
  font-family: 'Raleway', sans-serif;
  color: #f55d3e;
  margin: 0;
  padding: 10px 5px;
}
#button-list > button {
  min-width: 65px;
  font-size: 8pt;
  display: block;
}
#capsule-bar {
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-bottom: 2px solid #878e88;
}
.capsule-button {
  background-color: #f55d3e;
  margin: 10px 5px;
}
#capsule-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 10px;
  margin: 10px 0;
  grid-column: 10px;
}
#show-capsule-details {
  border: 2px solid #f7cb15;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#show-capsule-details h3 {
  font-family: 'Raleway', sans-serif;
  color: #f55d3e;
}
#capsule-header-menu {
  display: flex;
  align-items: center;
}
.article {
  padding: 0px;
  text-align: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#login-modal, #new-user-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(118, 190, 208, 1); /* solid blue */
}
#update-user-modal, #add-article-modal, #edit-capsule-modal, #add-capsule-modal {
  background-color: rgba(118, 190, 208, .75); /* blue w/ opacity */
}
#add-article-modal input, select {
  min-width: 180px;
  margin: 5px 0;
}
#add-capsule-modal input, select {
  min-width: 180px;
  margin: 5px 0;
}
#show-article-modal h1 {
  font-size: 12pt;
}
#edit-capsule-modal input, select {
  min-width: 180px;
  margin: 5px 0;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #878e88;
  font-size: 12px;
  width: 50%; /* Could be more or less, depending on screen size */
  display: flex;
  align-items: center;
  justify-content: center;
}
div.form {
  padding: 6px;
  width: 100%;
}

.modal-content > div {
  padding: 6px;
}
/* The Close Button */
.close {
  color: #878e88;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 10px;
}

.close:hover,
.close:focus {
  color: #f55d3e;
  text-decoration: none;
  cursor: pointer;
}
#carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#carousel-container > div {
  display: inline;
  flex: 0 0 auto;
}
#carousel-container img {
  max-width: 80px;
  max-height: 80px;
}